NODE_ENV=development

MONGO_USER=
MONGO_PASSWORD=
MONGO_HOST=localhost
MONGO_PORT=:27017
MONGO_PROTOCOL=mongodb
MONGO_DB=invoiceapp
MONGO_CONNECTION_STRING=${MONGO_PROTOCOL}://${MONGO_HOST}${MONGO_PORT}/${MONGO_DB}

MAILER_HOST=
MAILER_PORT=
MAILER_USER=
MAILER_PASSWORD=
MAILER_SENDER=

SPACE_ENDPOINT=
SPACE_REGION=
SPACE_ACCESS_KEY=
SPACE_SECRET_KEY=
SPACE_BUCKET=

JWT_SECRET=
JWT_EXPIRES_IN=
JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRES_IN=
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=
JWT_RESET_SECRET=
JWT_RESET_EXPIRES_IN=

BASE_URL=
FRONT_END_URL=
